<form method="post" action="">
  <input class="form-control" type="text">
  <textarea id="editor" placeholder="Balabala" autofocus></textarea>

</form>


<script>
    var editor = new Simditor({
        textarea: $('#editor')
        //optional options
    });
</script>